<div class="cross-selling-card">
  <img class="cross-selling-card__banner" src="assets/images/cross-selling-banner.png" alt="banner">
  <div class="cross-selling-card__content">
    <div class="chip">
      <span>Tenemos una oferta para ti</span>
    </div>
    <h2 class="mt-3">Contrata tu seguro con Entel</h2>

    <div class="d-flex mt-3">
      <span>Muévete tranquilo y protegido</span>
      <span class="d-flex price">$20.430 <span class="price__month">/mes*</span></span>
    </div>
    <div class="d-flex flex-column insurance-services mt-2">
      <span class="flex-fill"><strong>Auto de Reemplazo:</strong> Desde 15 días</span>
      <span class="flex-fill"><strong>Taller especializado:</strong> De la marca o multimarca</span>
      <span class="flex-fill"><strong>Responsabilidad civil:</strong> Desde 500 UF</span>
      <span class="flex-fill">Protegido ante robos</span>
    </div>
    <div class="px-4 mb-2">
      <button class="entel-button-secondary">Ver mas</button>
    </div>
    <div class="text-center font-weight-bold mt-3">
      <span>*Precio referencial sujeto a valor de la UF.</span>
    </div>
    <div class="d-flex mt-3 justify-content-center">
      <div class="px-2 pt-1">
        <img src="assets/images/sheet-green.svg" alt="sheet">
      </div>
      <div class="d-flex flex-column text-green">
        <span>Fundación</span>
        <span>Reforestemos</span>
      </div>
    </div>
    <div class="text-center my-3 text-light-gray">
      <span>Con tu contratación estás ayudando a Fundación Reforestemos</span>
    </div>
  </div>
</div>
