<div class="container">
  <div class="row">
  <div class="col">
    <div class="user-validation-failure-box">
      <div class="user-validation-failure-box__content">
        <h2 class="my-3">Pago en boleta Entel no disponible</h2>
        <p class="py-3">No estás habilitado para realizar el pago de tu SOAP con cargo a tu boleta Entel. Por favor elige otro medio
          de pago.</p>
        <div class="my-2 d-flex justify-content-center">
          <button type="button" entelButton color="primary" class="entel-button-ws" (click)="goBack()">
            Elegir otro medio de pago
          </button>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
