@import "modules/form";
@import "modules/button";
@import "modules/order-summary";
@import "modules/spinners";
@import "mixin";

// Flex utils

.flex-fill-70 {
  flex: 1 1 70%;
}

.flex-fill-85 {
  flex: 1 1 85%;
}

.flex-fill-30 {
  flex: 1 1 30%;
}

.flex-fill-15 {
  flex: 1 1 15%;
}
